.social {
    position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
    left: 0; /* Establecemos la barra en la izquierda */
    top: 150px; /* Bajamos la barra 200px de arriba a abajo */
    /* z-index: 2000;  Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

#navigationMenu li{
    list-style:none;
    height:39px;
    padding:2px;
    width:40px;
}

#navigationMenu span{
    /* Container properties */
    width:0;
    left:38px;
    padding:0;
    position:absolute;
    overflow:hidden;

    /* Text properties */
    font-family:'Myriad Pro',Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight:bold;
    letter-spacing:0.6px;
    white-space:nowrap;
    line-height:39px;
    
    /* CSS3 Transition: */
    -webkit-transition: 0.25s;
    
    /* Future proofing (these do not work yet): */
    -moz-transition: 0.25s;
    transition: 0.25s;
}

#navigationMenu a{
  background: #337ab7;
  width:38px;
  float: right;
  color: #fff!important;
  height:39px;
  text-align: center;
  position:relative;
}

.fa-menu {

    line-height:2;
    font-size:18px;
}
/* General hover styles */

#navigationMenu a:hover span{ width:auto; padding:0 20px;overflow:visible; }
#navigationMenu a:hover{
    text-decoration:none;
    
    /* CSS outer glow with the box-shadow property */
    -moz-box-shadow:0 0 5px #9ddff5;
    -webkit-box-shadow:0 0 5px #9ddff5;
    box-shadow:0 0 5px #9ddff5;
}

/* Green Button */

#navigationMenu .item1 { background-position:0 0;  background: #7da315;}
#navigationMenu .item1:hover {   background-position:0 -39px;}
#navigationMenu .item1 span{
    
    background-color:#7da315;
    color:#3d4f0c;
    text-shadow:1px 1px 0 #99bf31;
}




/* Orange Button */

#navigationMenu .item2 { background-position:-76px 0; background:#c86c1f;}
#navigationMenu .item2:hover { background-position:-76px -39px;}
#navigationMenu .item2 span{
    background-color:#c86c1f;
    color:#5a3517;
    text-shadow:1px 1px 0 #d28344;
}

/* Blue Button */

#navigationMenu .item3 { background-position:-38px 0;background:#1e8bb4;}
#navigationMenu .item3:hover { background-position:-38px -39px;}
#navigationMenu .item3 span{
    background-color:#1e8bb4;
    color:#223a44;
    text-shadow:1px 1px 0 #44a8d0;
}



/* Yellow Button */
#navigationMenu .item4 { background-position:-38px 0;background:#1e8bb4;}
#navigationMenu .item4:hover { background-position:-38px -39px;}
#navigationMenu .item4 span{
    background-color:#1e8bb4;
    color:#223a44;
    text-shadow:1px 1px 0 #44a8d0;
}

/* Purple Button */

#navigationMenu .item5 { background-position:-38px 0;background:#1e8bb4;}
#navigationMenu .item5:hover { background-position:-38px -39px;}
#navigationMenu .item5 span{
    background-color:#1e8bb4;
    color:#223a44;
    text-shadow:1px 1px 0 #44a8d0;
}



#navigationMenu .item6 { background-position:-152px 0; background: #d0a525; }
#navigationMenu .item6:hover { background-position:-152px -39px;}
#navigationMenu .item6 span{
    background-color:#d0a525;
    color:#604e18;
    text-shadow:1px 1px 0 #d8b54b;
}



#navigationMenu .item7 { background-position:-152px 0; background: #d0a525; }
#navigationMenu .item7:hover { background-position:-152px -39px;}
#navigationMenu .item7 span{
    background-color:#d0a525;
    color:#604e18;
    text-shadow:1px 1px 0 #d8b54b;
    
}

/* The styles below are only needed for the demo page */

#main{
    margin:80px left;
    position:relative;
    width:40px;
}


a, a:visited,a:active {
    color:#0196e3;
    text-decoration:none;
    outline:none;
}

a:hover{
    text-decoration:underline;
}

a img{
    border:none;
}

p.note{
    color:#707070;
    font-size:10px;
    text-align:center;
    margin:50px;
}
