*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fafafa;
}

div .loading {
    padding: 0;
    margin: 0;
    list-style: none;

}

.loading {
    position: absolute;
    top: 40%;
    left: 45%;
    margin: -75px 0 0 -35px;
    width: 70px;
    height: 150px;
}

@keyframes loading {
    0%, 100% {
        height: 10px;
        margin-top: 25px;
    }
    50%{
        height: 50px;
        margin-top: 0px;
    }
}

@-webkit-keyframes loading {
    0%, 100% {
        height: 10px;
        margin-top: 25px;
    }
    50%{
        height: 50px;
        margin-top: 0px;
    }
}

.loading li {
    background-color: #c776df;
    width: 10px;
    height: 10px;
    float: left;
    margin-right: 5px;
    box-shadow: 0px 100px 20px rgba(0, 0, 0, 0.2);
    animation: loading 1s ease-in-out infinite;
    -webkit-animation: loading 1s ease-in-out infinite;
}

.loading li:nth-child(1) {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}

.loading li:nth-child(2) {
    animation-delay: -0.2s;
    -webkit-animation-delay: -0.2s;
}

.loading li:nth-child(3) {
    animation-delay: -0.4s;
    -webkit-animation-delay: -0.4s;
}

.loading li:nth-child(4) {
    animation-delay: -0.6s;
    -webkit-animation-delay: -0.6s;
}

.loading li:nth-child(5) {
    margin-right: 0;
    animation-delay: -0.8s;
    -webkit-animation-delay: -0.8s;
}