# =========================
# Listar de archivos y carpetas Ignoradas en GIT
# =========================

# Archivos de Laravel
.env
.env.php
/vendor
/public
/resources/assets/vendor/
/resources/assets/node_modules/
/resources/assets/exports/
/node_modules

# -- Composer
composer.lock
composer.phar

# phpstorm
.idea/

# sublimetext
/*.sublime-project
*.sublime-workspace

# netbeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# -- Sistemas Operativos ------------------------------
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
.*
!.gitignore
!.htaccess
*~
phpunit.phar
